In [3]:
import pandas as pd

# The dataset I've copied/created to test the overdue_dept function

# data = {'Поколение': ['01.09.2019', '01.10.2019', '01.11.2019', '01.12.2019', '01.01.2020', '01.02.2020', '01.03.2020',
#     '01.04.2020', '01.05.2020', '01.06.2020', '01.07.2020', '01.08.2020', '01.09.2020'],
#         'Сумма выдач': [208996772.26, 135836696.48, 131673953.39, 230036636.10, 210546460.81, 185791960.85, 146697661.05,
#         10046104.13, 4126107.14, 12928712.11, 39266716.75, 78210124.32, 155172489.31],
#         'Количество': [227, 158, 139, 242, 222, 207, 142, 8, 7, 20, 44, 83, 139],
#         '0': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '1': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '2': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '3': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '4': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '5': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '6': [2051029, 0, 1027286, 0, 545930.5, 572528.1, 0, 0, 0, 0, 0, 0, 0],
#         '7': [2051029, 1029226, 1027286, 848947.3, 545930.5, 1365631, 0, 0, 0, 0, 0, 0, 0],
#         '8': [3761204, 1029226, 3384362, 3213266, 2077014, 0, 0, 0, 0, 0, 0, 0, 0],
#         '9': [3761204, 2532518, 3384362, 2921503, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '10': [4662977, 1899911, 3384362, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '11': [8438495, 1899911, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
#         '12': [8952819, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
# df = pd.DataFrame(data)

def overdue_dept(df_init): # Function to calculate overdue debt
    df = df_init.loc[:, ['Поколение']] # Generation column into newly created dataframe
    # If I understood correctly, then in the input dataframe there are 'Поколение', 'Сумма выдач', 'Количество' columns
    # so I'm subtracting these 3 from the overall dataframe's column length to get the remaning amount of columns
    for i in range(len(df_init.columns)-3):
        # Just adding this in case I'm wrong and there are more columns in the initial dataframe
        # Also this one can be deleted if my assumption was correct
        if str(i) in df_init:
            df[str(i)]=df_init[str(i)]/df_init['Сумма выдач'] # Calculating the needed columns
    return df

overdue_dept(df)

,Поколение,0,1,2,3,4,5,6,7,8,9,10,11,12
0,01.09.2019,0.0,0.0,0.0,0.0,0.0,0.0,0.009814,0.009814,0.017996,0.017996,0.022311,0.040376,0.042837
1,01.10.2019,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.007577,0.007577,0.018644,0.013987,0.013987,0.000000
2,01.11.2019,0.0,0.0,0.0,0.0,0.0,0.0,0.007802,0.007802,0.025703,0.025703,0.025703,0.000000,0.000000
3,01.12.2019,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.003690,0.013968,0.012700,0.000000,0.000000,0.000000
4,01.01.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.002593,0.002593,0.009865,0.000000,0.000000,0.000000,0.000000
5,01.02.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.003082,0.007350,0.000000,0.000000,0.000000,0.000000,0.000000
6,01.03.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,01.04.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,01.05.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,01.06.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,01.07.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,01.08.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,01.09.2020,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000